@charset "utf-8";
header {
    display: flex;
    width: 100%;
    height: 100px;
    background-color: white;
    align-items: center;
    position: fixed;
}
p.title {
    font-family: system-ui;
    font-size: 150%;
}
hr {
    color: #AAA;
    border: 1px solid #AAA;
}
a:link {
    color: #0AA;
    text-decoration: underline;
}
a:hover {
    color: #0AF;
    text-decoration: underline;
}
a:visited {
    color: #AAA;
    text-decoration: underline;
}
a:hover:visited {
    color: #AAF;
    text-decoration: underline;
}
a:active {
    color: white;
    text-decoration: underline;
}
a.top:link,a.top:visited {
    color: white;
    text-decoration: none;
}
a.top:hover {
    color: #AAA;
    text-decoration: underline;
}
a.top:active {
    color: #555;
    text-decoration: underline;
}
body {
    text-align: center;
    font-family: system-ui;
    font-size: 100%;
    background-color: black;
    color: white;
    width: 80%;
    margin: 0 auto;
    max-width: 750px;
    word-break: break-all;
}
#title {
    font-family: system-ui;
    font-size: 150%;
}
#send {
    text-align: left;
    font-size: 50%;
}
textarea {
    font-family: system-ui;
    border: 2px solid #AAA;
    padding: 0;
    background-color: black;
    color: white;
    resize: vertical;
    width: 100%;
}
::placeholder {
    color: #AAA;
}
textarea:hover {
    border: 2px solid #0AA;
    outline: 0;
}
textarea:focus {
    border: 2px solid #AA0;
    outline: 0;
}
input {
    font-family: system-ui;
    padding: 0;
    border: none;
    background-color: black;
    color: white;
}
::placeholder {
    color: #AAA;
}
input[type="button"],input[type="text"],input[type="submit"],input[type="image"],textarea {
    appearance: none;
    border-radius: 0;
}
input[type="text"] {
    border-bottom: 2px solid #AAA;
}
input[type="text"]:hover {
    border-bottom: 2px solid #0AA;
}
input[type="text"]:focus {
    border-bottom: 2px solid #AA0;
    outline: 0;
}
input[type="button"] {
    color: #AAA;
    border: none;
    border-bottom: 2px solid #AAA;
}
input[type="button"]:hover {
    color: #0AA;
    border-bottom: 2px solid #0AA;
}
input[type="button"]:active {
    color: #AA0;
    border-bottom: 2px solid #AA0;
}
.flex-box-between {
    display: flex;
    justify-content: space-between;
}
#send_button {
    margin-left: auto;
}
#texts {
    text-align: left;
    font-size: 50%;
}